html {
    font-size:100%;
}
body {
    margin:0;
    font-family: 'Bellota Text';
    text-align:center;
    background:linear-gradient(#c167eb, 0.1%, white);
    background-repeat: no-repeat;
    color:#41065c;
    height:100vh;
}
*::-moz-selection{ background: #41065c;color: #fff;}
*::selection { background: #41065c;color: #fff; }
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #41065c;
    border-radius:50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

.logo h1 {
    font-family:'K2D';
    margin:0;
    padding:0;
}
.logo p {
    margin:0px 0px 30px;
}
.buttons {
    margin:50px 0 50px;
}
.buttons button {
    margin:0 20px 0;
    font-size:20px;
    cursor:pointer;
    padding:10px;
    width:150px;
    background:none;
    border:1px solid #c167eb;
    border-radius:5px;
    color:#c167eb;
    outline:none;
    transition:background-color 0.6s ease;
}
.buttons button:hover{
    background-color:#c167eb;
    color:#fff;
}

.description {
    margin:50px auto 10px;
    background:rgb(193, 103, 235, 0.6);
    border-radius:20px 50px;
}
.TOS {
    margin:40px 0;
    text-transform: uppercase;
}
underlined {
    text-decoration: underline;
}
.content {
    margin:20px auto;
}
@media only screen and (min-width:1280px) { /* DESKTOP */
    .content {width:70%;}
    .logo h1 {font-size: 90px;}
    .logo p {font-size: 18px;}
    .description {width:70%;font-size:22px;padding:20px 50px;}
    .TOS {font-size:14px;}
  }
@media only screen and (min-width:768px) and (max-width:1280px){ /* TABLET */
    .content {width: 80;}
    .logo h1 {font-size: 70px;}
    .logo p {font-size:16px;}
    .description {width:70%;font-size:18px;padding:15px 40px;}
    .TOS {font-size:12px;}
}
  @media only screen and (min-width:280px) and (max-width:800px) { /* MOBILE */
    .content {width:100%;}
    .logo h1 {font-size: 50px;}
    .logo p {font-size: 14px;}
    .description {width:50%;font-size:14px;padding:10px 30px;}
    .TOS {font-size: 10px;}
  }
  @media only screen and (max-width:280px) {
    .logo h1 {font-size: 40px;}
    .logo p {font-size: 12px;}
  }